.idea
.DS_Store
/cache/*
template_c
pages_cache.ser
json.txt
cache_err
/public/*
/temp/*
.svn/*
.svn
site/settings/db.php
site/system/sync_log.txt
debug.php

site/system/public/novellas/

site/system/info_html.txt

site/system/paras.txt
